@import "colors";

// Common sizes
$small-radius: .5rem;
$large-radius: 1rem;
$max-radius: 2rem;
$input-btn-height: 2rem;

// Scr sizes
$mobile-scr-size: 390px;
$mobile-l-scr-size: 480px;
$tablet-scr-size: 680px;
$desktop-scr-size: 1280px;